@model ADproject.Models.Admin
@{
    ViewBag.Title = "Login";
}


<div id="login-div" style="display: flex; justify-content: center; min-height: calc(100vh - 150px);align-items: center;background-color: #d9d9d9;">
    <div class="panel panel-default" style="display: flex;flex-direction: column; max-width: 310px;">
        <div class="panel-body">

            <h3 class="text-center">Login</h3>
            <hr/>
            <br>

            @using (Html.BeginForm("Autherize", "Home", FormMethod.Post, new {@style = "margin:auto;min-width:300px"}))
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.UserName)
                    @Html.EditorFor(model => model.UserName, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.UserName)

                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Password)
                    @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Password)


                </div>

                <button type="submit" class="btn btn-danger">Submit</button>
                <button type="reset" class="btn btn-default" name="name" value="Clear">Clear</button>

                <table>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>

                        </td>
                        <td>
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>

                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td> @ViewBag.error</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>

                        </td>
                    </tr>
                </table>
            }

        </div>
    </div>
</div>